*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../img/bg.jpg);
  background-size: cover;
  min-width: 1200px;
  min-height: 700px;
}
.main{
  width: 1200px;
  height: 700px;
  margin: auto;
  position: relative;
}

img{
	position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
a{
	position: absolute;
	font-size: 30px;
	width: 200px;
	text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;
	animation: light 2s linear infinite;
}
@keyframes light{
	0%{
		text-shadow: 0px 0px 5px white;
	}
	50%{
		text-shadow: 0px 0px 20px white;
	}
	100%{
		text-shadow: 0px 0px 5px white;
	}
}
a:nth-child(even){
	left: 15%;
}
a:nth-child(odd){
	right: 15%;
}
a:nth-child(2),a:nth-child(5){
	top: 30%;
}
a:nth-child(3),a:nth-child(6){
	top: 50%;
}
a:nth-child(4),a:nth-child(7){
	top: 70%;
}